<ion-view title="Add Yak">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 279px; height: 22px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Say something...</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 279px; height: 31px;"></div>
            <ion-item class="range range-positive">Blast Time
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
        <a href="#/page16/page22" class="button button-stable button-block ">Ignite</a>
    </ion-content>
</ion-view>