<ion-view title="Add Yak">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 279px; height: 22px;"></div>
        <form class="list">
            <label class="item item-input">

                <input type="text" ng-model="Yak.post" placeholder="Say something...">
            </label>
            <div class="spacer" style="width: 279px; height: 31px;"></div>
            <ion-item class="range range-positive">Blast Time (in minutes)
                <input type="range" value="5" min="1" max="5" ng-model="Yak.blastTime">{{Yak.blastTime}}

            </ion-item>
        </form>
        <a href="#/page16/page22" class="button button-stable button-block " ng-click="addYak()">Ignite</a>
    </ion-content>
</ion-view>
