<ion-view title="Trending" onload="refresh()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block ">New</button>
            <button class="button button-stable button-block ">Top</button>
            <button class="button button-stable button-block ">Rising</button>
        </div>
        <div class="list card">
            <div class="item item-divider">New</div>
            <div class="item item-body">
              <ion-list>
                <ion-item ng-repeat="Yak in YaksToDisplay | orderBy:'-createdAt'">
                  {{Yak.post}}
                </ion-item>
              </ion-list>
            </div>
        </div>

    </ion-content>
</ion-view>
